.body {
  height: 100vh;
}

.dateContainer {
  position: relative;
  font-size: 2em
}

tbody {
  font-size: 1.5em;
}

tbody td {
  height: 15vh;
}

.tableDaysHover:hover {
  background-color: lightgray;
}

.disabled {
  background-color: gray
}

.note {
  position: absolute;
  width: 25%;
  height: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 99;
}
